/* Custom styles for hero-about section */
.hero-service-monitoring {
  background-image: url("../img/hero-jarinngan.png");
  background-size: cover;
  background-position: center;
  color: rgb(245, 245, 245);
  text-align: center;
  padding: 100px 0;
  position: relative;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}

.hero-service-monitoring h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-weight: 700;
  animation: fadeInDown 1.5s ease;
}

.hero-service-monitoring p {
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
  font-style: italic;
  animation: fadeInUp 1.5s ease;
}

/* Custom styles for monitoring section */
.network-monitoring {
  padding: 60px 0;
  background-color: #f8f9fa;
}

.network-monitoring .card h4 {
  background-color: #ed2025;
  color: #fff;
  padding: 20px;
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  height: 80px; /* Set a fixed height for uniformity */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.network-monitoring p {
  color: #333;
  font-size: 18px;
  margin-bottom: 40px;
}

.network-monitoring .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: transform 0.3s ease;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.network-monitoring .card:hover {
  transform: translateY(-10px);
}

.network-monitoring .card-body {
  padding: 30px;
}

.network-monitoring h4 {
  color: #ed2025;
  font-size: 24px;
  margin-bottom: 15px;
}

.network-monitoring ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.network-monitoring ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.network-monitoring ul li i {
  color: #ed2025;
  margin-right: 10px;
}
