/* Tablet Screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header .top-contact li a {
    font-size: 13px;
  }
  .header .top-contact li {
    display: inline-block;
    margin-right: 25px;
    color: #2c2d3f;
    font-size: 13px;
  }
  .section-title {
    margin-bottom: 35px;
    margin-top: 10px;
    padding: 0px 80px;
  }
  .section-title h2 {
    font-size: 25px;
    margin-bottom: 12px;
  }
  .section-title p {
    font-size: 13px;
  }
  .Feautes .single-features::before {
    display: none;
  }
  .Feautes .single-features {
    text-align: center;
    position: relative;
    padding: 10px 155px;
    margin: 10px 0;
  }
  .about .about-right {
    height: 350px;
    margin-top: 30px;
  }
  .vision,
  .mission {
    margin-bottom: 30px;
  }
  .btn-custom-outline {
    margin-top: 15px;
  }
  .logo {
    width: 150px;
  }
  .marquee img {
    height: 50px;
  }
  .event-info {
    height: 140px;
  }
}
/* Mobile Screen */
@media only screen and (max-width: 767px) {
  .header .top-contact {
    float: none;
    text-align: center;
  }
  .section-title {
    margin-bottom: 30px;
    padding: 0px 20px;
    margin-top: 10px;
  }
  .section-title h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .section-title p {
    font-size: 13px;
  }
  .Feautes .single-features .signle-icon i {
    font-size: 42px;
    left: 50%;
    margin-left: -40px;
    height: 80px;
    width: 80px;
    line-height: 80px;
  }
  .Feautes .single-features::before {
    display: none;
  }
  .Feautes .single-features {
    text-align: center;
    position: relative;
    padding: 0px;
    margin: 15px 0;
  }
  .Feautes .single-features h3 {
    padding-top: 105px;
    font-size: 20px;
  }
  .about .about-right {
    height: 350px;
    margin-top: 30px;
  }
  .vision,
  .mission {
    margin-bottom: 30px;
  }
  .btn-custom-outline {
    margin-top: 15px;
  }
  .logo {
    width: 140px;
  }
  .marquee img {
    height: 40px;
  }
  .event-info {
    height: 120px;
  }
}
/* Mobile Screen */
@media only screen and (max-width: 450px) {
  .header .top-contact {
    float: none;
    text-align: center;
  }
  .header .top-contact li {
    display: inline-block;
    margin-right: 10px;
    color: #2c2d3f;
    font-size: 13px;
  }
  .section-title {
    margin-bottom: 30px;
    padding: 0px 20px;
    margin-top: 10px;
  }
  .section-title h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .section-title p {
    font-size: 13px;
  }
  .Feautes .single-features .signle-icon i {
    font-size: 42px;
    left: 50%;
    margin-left: -40px;
    height: 80px;
    width: 80px;
    line-height: 80px;
  }
  .Feautes .single-features::before {
    display: none;
  }
  .Feautes .single-features {
    text-align: center;
    position: relative;
    padding: 0px;
    margin: 15px 0;
  }
  .Feautes .single-features h3 {
    padding-top: 105px;
    font-size: 20px;
  }
  .about .about-right {
    height: 350px;
    margin-top: 30px;
  }
  .vision,
  .mission {
    margin-bottom: 30px;
  }
  .btn-custom-outline {
    margin-top: 15px;
  }
  .logo {
    width: 130px;
  }
  .marquee img {
    height: 40px;
  }
  .event-info {
    height: 120px;
  }
}

@media (max-width: 768px) {
  blockquote {
    font-size: 1rem;
    padding: 0 15px;
  }

  .quote-author {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  blockquote {
    font-size: 0.8rem;
    padding: 0 10px;
  }

  .quote-author {
    font-size: 0.9rem;
  }
}
