/*=============================
	Global CSS 
===============================*/
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #888;
}
img {
  max-width: 100%;
}
.logo {
  width: 200px;
}
/* Topbar */
.header .topbar {
  /* background-color: #fff; */
  border-bottom: 1px solid #eee;
}
.header .topbar {
  padding: 5px 0;
}
.header .top-contact {
  float: right;
  margin-top: 1rem;
}
.header .top-contact li {
  display: inline-block;
  margin-right: 25px;
  color: #2c2d3f;
}
.header .top-contact li:last-child {
  margin-right: 0;
}
.header .top-contact li a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.header .top-contact li a:hover {
  color: #ed2025;
}
.header .top-contact li i {
  color: #ed2025;
  margin-right: 8px;
}

.header.sticky .header-inner {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: initial;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  animation: fadeInDown 0.5s both 0.1s;
  box-shadow: 0px 0px 13px #00000054;
  -webkit-animation: fadeInDown 0.5s both 0.1s;
}

.offcanvas-backdrop {
  position: static; /* Overrides the Bootstrap position property */
}

.carousel-item img {
  top: 10px;
  max-height: 600px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
}

/*=============================
	Start Feautes CSS
===============================*/
.Feautes {
  margin-top: 50px;
  padding-top: 0;
}
.Feautes.index2 {
  padding-top: 100px;
}
.Feautes.testimonial-page {
  padding-top: 100px;
}
.Feautes .single-features {
  text-align: center;
  position: relative;
  padding: 10px 20px;
}
.Feautes .single-features::before {
  position: absolute;
  content: "";
  right: -72px;
  top: 60px;
  width: 118px;
  border-bottom: 3px dotted #ed2025;
}
.Feautes .single-features.last::before {
  display: none;
}
.Feautes .single-features .signle-icon {
  position: relative;
}
.Feautes .single-features .signle-icon i {
  font-size: 50px;
  color: #ed2025;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 0;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.Feautes .single-features:hover .signle-icon i {
  background: #ed2025;
  color: #fff;
  border-color: transparent;
}
.Feautes .single-features h3 {
  padding-top: 128px;
  color: #2c2d3f;
  font-weight: 600;
  font-size: 21px;
}
.Feautes .single-features p {
  margin-top: 20px;
}
/*=============================
	End Feautes CSS
===============================*/
.section-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 250px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 24px;
  position: relative;
  color: #2c2d3f;
}
.section-title p {
  font-size: 15px;
  color: #888;
  margin-top: 15px;
}
