/*=============================
	Global CSS 
===============================*/
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #888;
}
img {
  max-width: 100%;
}
.logo {
  width: 200px;
}
/* Topbar */
.header .topbar {
  /* background-color: #fff; */
  border-bottom: 1px solid #eee;
}
.header .topbar {
  padding: 5px 0;
}
.header .top-contact {
  float: right;
  margin-top: 1rem;
}
.header .top-contact li {
  display: inline-block;
  margin-right: 25px;
  color: #2c2d3f;
}
.header .top-contact li:last-child {
  margin-right: 0;
}
.header .top-contact li a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.header .top-contact li a:hover {
  color: #ed2025;
}
.header .top-contact li i {
  color: #ed2025;
  margin-right: 8px;
}

.header.sticky .header-inner {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: initial;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  animation: fadeInDown 0.5s both 0.1s;
  box-shadow: 0px 0px 13px #00000054;
  -webkit-animation: fadeInDown 0.5s both 0.1s;
}

.offcanvas-backdrop {
  position: static; /* Overrides the Bootstrap position property */
  background-color: transparent;
}

.carousel-item img {
  top: 50px;
  max-height: 500px;
  object-fit: cover;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
}
/* General styles for nav-link */
.navbar-nav .nav-link {
  position: relative;
  color: #333;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  border-radius: 4px;
  margin-right: 15px;
}

/* Underline effect for hover and active state */
.navbar-nav .nav-link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background: #ed2025;
  border-radius: 5px 5px 0 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Active state underline */
.nav-link.active::before {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

/* Hover effect triggers underline animation */
.navbar-nav .nav-link:hover::before {
  opacity: 1;
  width: 100%;
  visibility: visible;
}

.navbar-nav .nav-link:hover {
  color: #ed2025;
  text-decoration: none;
  border-radius: 4px;
}
/* Gaya untuk tombol outline kustom */
.btn-custom-outline {
  display: inline-block;
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 500;
  color: #ed2025;
  background-color: transparent;
  border: 2px solid #ed2025;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Efek hover untuk tombol outline */
.btn-custom-outline:hover {
  color: #fff;
  background-color: #ed2025;
  border-color: #ed2025;
  transform: translateY(-2px);
}

/* Efek fokus untuk aksesibilitas */
.btn-custom-outline:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(237, 32, 37, 0.5);
}

/*=============================
	Start Marquee CSS
===============================*/
/* Gaya untuk section media partner */
.media-partner {
  background-color: #ffffff; /* Latar belakang section */
  padding: 20px 0; /* Padding atas dan bawah */
  text-align: center; /* Menyelaraskan teks ke tengah */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan untuk section */
}

.media-partner h2 {
  font-size: 24px; /* Ukuran font judul */
  font-weight: 700; /* Berat font judul */
  color: #333; /* Warna teks judul */
  margin-bottom: 20px; /* Jarak bawah judul */
}

.scroller__inner {
  height: 100px;
  /* padding-block: 1rem; */
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 30s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/*=============================
	Start Feautes CSS
===============================*/
.Feautes {
  margin-top: 50px;
}
.Feautes.index2 {
  padding-top: 100px;
}
.Feautes.testimonial-page {
  padding-top: 100px;
}
.Feautes .single-features {
  text-align: center;
  position: relative;
  padding: 10px 20px;
}
.Feautes .single-features::before {
  position: absolute;
  content: "";
  right: -72px;
  top: 60px;
  width: 118px;
  border-bottom: 3px dotted #ed2025;
}
.Feautes .single-features.last::before {
  display: none;
}
.Feautes .single-features .signle-icon {
  position: relative;
}
.Feautes .single-features .signle-icon i {
  font-size: 50px;
  color: #ed2025;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 0;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.Feautes .single-features:hover .signle-icon i {
  background: #ed2025;
  color: #fff;
  border-color: transparent;
}
.Feautes .single-features h3 {
  padding-top: 128px;
  color: #2c2d3f;
  font-weight: 600;
  font-size: 21px;
}
.Feautes .single-features p {
  margin-top: 20px;
}
/*=============================
	End Feautes CSS
===============================*/

.section-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 250px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 24px;
  margin-top: 24px;
  position: relative;
  color: #2c2d3f;
}
.section-title h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background: #000000;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.section-title p {
  font-size: 15px;
  color: #1a1a1a;
  margin-top: 15px;
}
/*===================
	counter CSS
=====================*/
.counter-section {
  background-color: #ed2025;
  color: white;
  padding: 40px 0;
}
.counter-box {
  text-align: center;
  margin: 20px 0;
}
.counter-box i {
  font-size: 48px;
  margin-bottom: 10px;
}
.counter-box h2 {
  font-size: 36px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.counter-box h2 span {
  font-size: 36px;
  margin-left: 5px;
}
.counter-box p {
  font-size: 18px;
}
/*===================
	About CSS
=====================*/
.about .about-left h3 {
  font-size: 24px;
  font-weight: 600;
  color: #2c2d3f;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 24px;
}
.about .about-left h3:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: #ed2025;
}
.about .about-left p {
  margin-bottom: 35px;
}
.about .about-left .list {
}
.about .about-left .list li {
  color: #868686;
  margin-bottom: 12px;
}
.about .about-left .list li:last-child {
  margin-bottom: 0px;
}
.about .about-left .list li i {
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  background: #ed2025;
  color: #fff;
  font-size: 14px;
  border-radius: 100%;
  padding-left: 2px;
  margin-right: 16px;
}
/* Start Faq CSS */
.about {
  background-image: url("../img/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.about .about-right {
  height: 100%;
  width: 100%;
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.about .about-right .video {
  color: #fff;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -35px;
  margin-top: -35px;
  font-size: 21px;
  background: #ed2025;
  padding-left: 4px;
}
.about .about-right .video:hover {
  transform: scale(1.1);
}
.about .video-image .waves-block .waves {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #fff;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border-radius: 100%;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
}
.about .video-image .waves-block .wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.about .video-image .waves-block .wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.about .video-image .waves-block .wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.about-teks {
  text-align: justify;
  line-height: 1.6;
  color: #1c1c1c;
}
/*=======================
	End About choose CSS
=========================*/

/* Video Animations */

@-webkit-keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
.services-section {
  text-align: center;
  padding: 50px 0;
  background: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.highlight {
  color: #ed2025;
}

.service-box {
  background: linear-gradient(45deg, #ed2025, rgb(104, 25, 24));
  border-radius: 25px;
  padding: 30px;
  color: #fff;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  height: 300px;
}

.service-box:hover {
  transform: scale(1.05);
}

.service-icon {
  font-size: 50px;
  margin-bottom: 20px;
}

.service-content {
  text-align: left;
}

.service-content h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.service-content ul {
  list-style: none;
  padding: 0;
}

.service-content ul li {
  font-size: 17px;
  color: #f0f0f0;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}

.service-content ul li::before {
  content: "\f0a9";
  font-family: FontAwesome;
  color: #ffd700;
  position: absolute;
  left: 0;
}

.service-content ul li span {
  margin-left: 5px;

  @media (max-width: 768px) {
    .service-box {
      max-width: 100%;
    }
  }
}
/*===================
	why CSS
=====================*/
/* Why Choose Us Section */
.why-choose {
  padding: 50px 30px 50px 30px;
}

.why-choose .image-column img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.why-choose .image-column img:hover {
  transform: scale(1.01);
}

.why-choose .card {
  border: none;
  border-radius: 10px;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* .card {
  border: none;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
} */
/* .section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ed2025;
  margin-bottom: 10px;
} */

.section-subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 40px;
}
.why-choose .card i {
  font-size: 2rem;
  color: #ed2025;
}

.why-choose .card-title {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.why-choose .card-text {
  font-size: 0.9rem;
  color: #140f0f;
}

/*=======================
 event css 
=========================*/
.events {
  width: 80%;
  margin: 0 auto;
}

.event {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  margin-bottom: 20px; /* Jarak antar card */
  margin: 0 10px 0 10px;
}

.event img {
  width: 100%;
  height: 350px; /* Tinggi tetap untuk gambar agar konsisten */
  object-fit: cover; /* Memastikan gambar mengisi area card tanpa merusak proporsi */
}

.event-info {
  padding: 15px;
  text-align: center;
  background: #ed2025; /* Background warna merah */
  color: #fff;
  height: 125px;
}

.event-date {
  margin-bottom: 10px;
}

.event-date-text {
  font-size: 1rem;
  display: block;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.event-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

/* Slick Slider */
.slick-prev,
.slick-next {
  display: none !important; /* Sembunyikan tombol previous dan next */
}

.slick-dots {
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  width: 20px; /* Sesuaikan ukuran dot */
  height: 20px; /* Sesuaikan ukuran dot */
  padding: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: #ccc; /* Warna dot */
}

.slick-dots li.slick-active button {
  background: #ed2025;
}
.slick-dots li.slick-active button:before {
  opacity: 0;
}
/* Responsive grid for larger screens */
@media (min-width: 1024px) {
  .events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Jarak antar card dalam grid */
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Jarak antar card dalam grid */
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .events {
    display: block;
  }
}

/*=======================
 quote css 
=========================*/
/* quote */
#quote {
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url("../img/bg-quote.png");
  z-index: 1;
  display: block;
  position: relative;
  padding: 100px;
  text-align: center;
}

blockquote {
  font-size: 24px;
  line-height: 1.6;
  margin: 0;
  padding: 0 20px;
  color: #fef1f1;
  font-style: italic;
  font-weight: bold;
}

.icon-left,
.icon-right {
  color: #0000f1; /* Warna highlight */
}

.quote-author {
  margin-top: 20px;
  font-size: 18px;
  color: #f69685; /* Warna highlight */
}

.owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.parallax-section-6 {
  background: url("path-to-your-parallax-image.jpg") no-repeat center center
    fixed;
  background-size: cover;
  color: #fff;
}
/*=======================
 faq css 
=========================*/
/* FAQ Section */
.faq-section {
  padding: 50px 15px 50px 15px;
  background-color: #f9f9f9;
}

.faq-title {
  font-size: 32px;
  font-weight: bold;
  color: #2c2d3f;
}

.text-primary {
  color: #007bff;
}

.faq-subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}

.faq-image {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  height: 400px;
  transition: transform 0.3s ease-in-out;
}

.faq-image:hover {
  transform: scale(1.05);
}

/* Accordion Section */
.accordion-section {
  padding: 50px 0;
}

.accordion-item {
  border: none;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.accordion-item:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.accordion-header button {
  width: 100%;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 15px;
  border: none;
  outline: none;
  background-color: #f8f9fa;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  border-top: 1px solid #ddd;
  border-radius: 10px;
}

.accordion-header button:hover {
  background-color: #ed2025;
  color: white;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.accordion-header button:not(.collapsed) {
  background-color: #ed2025;
  color: white;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.accordion-body {
  background-color: #ffffff;
  padding: 20px;
  border-top: 1px solid #ddd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.accordion-body p {
  line-height: 1.6;
  font-size: 1rem;
}

/* Additional Styling for Accordion */
.accordion-header button::after {
  content: "\002B";
  font-size: 1rem;
  float: right;
  margin-left: auto;
  transition: content 0.3s ease, transform 0.3s ease, color 0.3s ease,
    font-size 0.3s ease;
}

.accordion-header button:not(.collapsed)::after {
  content: "\2212";
  color: #ececec;
  font-size: 1rem;
}

/* Optional: Animate rotation and scaling of the plus/minus sign */
.accordion-header button.collapsed::after {
  transform: rotate(0deg) scale(1);
}

.accordion-header button:not(.collapsed)::after {
  transform: rotate(360deg) scale(1.2);
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* hubungi */
/* css */
.section-hubungi {
  background-image: url("../img/bg-hubungi.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 0;
}
.section-hubungi h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.section-hubungi p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.section-hubungi .btn {
  background-color: #ff7b00;
  border: none;
  padding: 10px 30px;
  font-size: 1rem;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.3s;
}

/* Efek hover untuk tombol */
.section-hubungi .btn:hover {
  background-color: #ff9b33;
  transform: scale(1.05);
  color: #fff;
}

/* Efek fokus untuk tombol */
.section-hubungi .btn:focus {
  outline: none;
  box-shadow: 0 0 5px 2px rgba(255, 123, 0, 0.5);
}
#scrollUp {
  bottom: 15px;
  right: 15px;
  padding: 10px 20px;
  background: #ed2025;
  color: #fff;
  font-size: 25px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #00000026;
}
#scrollUp:hover {
  background: #2c2d3f;
}
